{% extends 'base.html' %}

{% block page_title %}Рахунок: {{ ba.title }}{% endblock%}

{% block page %}{% load static %}
    <h1>{{ ba.title }}</h1>
    <p>Власник рахунку: {{ ba.full_name }}</p>
    <p>IBAN: {{ ba.iban }}</p>
    <p>Валюта: {{ ba.currency }}</p>
    <p>Баланс: {{ ba.balance }}</p>
    <div class="row"><a href="add_money/{{ ba.id }}" class="btn btn-success col col-auto mx-2">Додати кошти</a><a href="edit/{{ ba.id }}" class="btn btn-primary col col-auto mx-2">Змінити</a></div>
{% endblock %}