{% extends 'base.html'%}
{% block cart %}
{% endblock %}
{% block products %}
<a class="bi bi-chevron-left text-dark" style="width: 50px; font-size: 3rem;" href="../"></a>
<table class="table table-dark table-striped align-middle product-list">
    <tr>
        <th>Product</th>
        <th>Count</th>
        <th>Price</th>
        <th>Total</th>
        <th></th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.title }} ({{ product.id }})</td>
        <td>{{ product.count }}</td>
        <td>{{ product.price }} UAH</td>
        <td>{{ product.total }} UAH</td>
        <td><a class="text-light p-0" style="height: 40px" data-bs-toggle="modal" href="#remove" onclick="execute({{ product.id}})"><i class="bi bi-x p-0" style="font-size: 2rem"></i></a></td>
    </tr>
    {% endfor %}
</table>

<div class="w-100 text-end row">
    <h3 class="text-start col total">Total: {{ total }} UAH</h3>
    {% if products %}
    <a class="btn btn-success col-2 buy-btn">Buy</a>
    {% endif %}
</div>
{% endblock %}
{% block modal %}
        <div class="modal fade" id="remove" tabindex="-1" aria-labelledby="remove" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addLabel">Remove from cart</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h4 class="text-secondary">Select count to remove:</h4><h4 class="modal-id"></h4>
                        <input type="range" value="1" class="form-range product-count" min="1" step="1" name="count" oninput="this.nextElementSibling.value = this.value" id="remove-range">
                        <output class="text-secondary">1</output>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button role="button" type="submit" data-bs-dismiss="modal" class="btn btn-danger remove-btn">Remove!</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block script %}
        {% csrf_token %}
        <script>
            var modal = false
            function execute(id) {
                var max_count = {{ max_count }};
                document.getElementById("remove-range").setAttribute("max", max_count[id]);
                document.querySelector(".remove-btn").setAttribute('id', id)
                modal = true
            };

            document.querySelector('.remove-btn').onclick = function(){
                if (modal === true){
                    var count = document.querySelector('.product-count').value;
                    var token = document.querySelector('[name="csrfmiddlewaretoken"]').value;
                    var id = document.querySelector('.remove-btn').id;

                    var request = new XMLHttpRequest();
                    request.open("POST", "");
                    request.setRequestHeader('X-CSRFToken', token);
                    request.responseType = 'json';

                    request.onreadystatechange = function() {
                        if (request.readyState == 4) {
                            var products = request.response['products']
                            var total = request.response['total']
                            var alert = document.getElementById('alert');

                            if ('success' === Object.keys(request.response)[0] === true) {
                                alert.setAttribute('class', 'alert alert-success');
                                alert.innerHTML = '<i class="bi bi-check-circle-fill" role="img"></i>' + request.response['success'];
                            } else {
                                alert.innerHTML = '<i class="bi bi-exclamation-triangle-fill" role="img"></i>' + request.response['error'];
                                alert.setAttribute('class', 'alert alert-danger');
                            };

                            var tableHtml = '<tr><th>Product</th><th>Count</th><th>Price</th><th>Total</th><th></th></tr>'
                            for (let i = 0; i < products.length; i++) {
                                var product = products[i]
                                tableHtml += '<tr><td> ' + product['title'] + ' (' + product['id'] + ')</td><td> ' + product['count'] + ' </td><td> ' + product['price'] + ' UAH</td><td> ' + product['total'] + ' UAH</td><td><a class="text-light p-0" style="height: 40px" data-bs-toggle="modal" href="#remove" onclick="execute(' + product['id'] + ')"><i class="bi bi-x p-0" style="font-size: 2rem"></i></a></td></tr>'
                            };

                            document.querySelector('.product-list').innerHTML = tableHtml
                            document.querySelector('.total').innerText = 'Total: ' + total + ' UAH'
                        };
                    };
                    request.send([count, id]);
                    modal = false
                };
            };

            document.querySelector('.buy-btn').onclick = function(){
                var token = document.querySelector('[name="csrfmiddlewaretoken"]').value;

                var request = new XMLHttpRequest();

                request.open("POST", "");
                request.setRequestHeader('X-CSRFToken', token);
                request.responseType = 'json';

                request.onreadystatechange = function() {
                    if (request.readyState == 4) {
                        var alert = document.getElementById('alert');
                        if ('success' === Object.keys(request.response)[0] === true) {
                            alert.setAttribute('class', 'alert alert-success');
                            alert.innerHTML = '<i class="bi bi-check-circle-fill" role="img"></i>' + request.response['success'];
                        } else {
                            alert.innerHTML = '<i class="bi bi-exclamation-triangle-fill" role="img"></i>' + request.response['error'];
                            alert.setAttribute('class', 'alert alert-danger');
                        };
                        document.querySelector('.total').innerText = 'Total: 0 UAH'
                        document.querySelector('.buy-btn').remove()
                        document.querySelector('.product-list').innerHTML = '<tr><th>Product</th><th>Count</th><th>Price</th><th>Total</th><th></th></tr>'
                    };
                };
                request.send('buy');
            };
        </script>
{% endblock %}
{% block alert %}
<div id="alert"></div>
{% endblock %}